*.gz
*.tgz
*.in
*.m4
VERSION
autom4te.cache/
bin/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
kit/usr/bin/catjob
kit/usr/bin/jobman
kit/usr/bin/mkjob
kit/usr/bin/queman
kit/usr/lib/
kit/usr/share/
ltmain.sh
m4/
missing
test/unit/bin/

